- content_for :js do
  = javascript_include_tag :my_js
- content_for :css do
  = stylesheet_link_tag :my_css

= render :partial => 'app/links'

- ajax_url = ajax_test_url

:javascript
  function forming_ajax_request(){
    //alert( $('#form_1_arg_1').val() );
    //alert( $('#form_1_arg_2').val() );
    var arg_1 =  $('#form_1_arg_1').val();
    var arg_2 = $('#form_1_arg_2').val();

        jQuery.ajax({
          type: "POST",
          url: '#{ajax_url}',
          data: {arg_1: arg_1, arg_2: arg_2},
          dataType: "html",
          success: function(data, status, xhr){ alert('Success') },
          beforeSend: function(xhr){ alert('Before') },
          complete: function(xhr, status){ alert('Complite') },
          error: function(xhr, status, error){ alert('Error') }
          //error: function(){}
        });//jQuery.ajax

  }

= render :partial => 'app/forms'
