- content_for :js do
  = javascript_include_tag :my_js
- content_for :css do
  = stylesheet_link_tag :my_css

- ajax_url = ajax_test_url

:javascript
  function forming_ajax_request(){
    // Get params from Form Inputs, It need to improve!
    var arg_1 = $('#equation_1 #equation_param_1').val();
    var arg_2 = $('#equation_1 #equation_param_2').val();
    var arg_3 = $('#equation_1 #equation_param_3').val();
    var arg_4 = $('#equation_1 #equation_param_4').val();
    var type  = $('#equation_1 #equation_equation_type').val();

    // Forming XML,
    var my_xml = $('<xml />');
    $(my_xml).append( $('<arg />').append(arg_1) );
    $(my_xml).append( $('<arg />').append(arg_2) );
    $(my_xml).append( $('<arg />').append(arg_3) );
    $(my_xml).append( $('<arg />').append(arg_4) );
    $(my_xml).append( $('<type />').append(type) );
    my_xml = $("<data />").append(my_xml.clone()).html();

    // Send XML to server.
    jQuery.ajax({
      type: "POST",
      url: '#{ajax_url}',
      data: {xml_data: my_xml},
      dataType: "script",
      success: function(data, status, xhr){
      },
      beforeSend: function(xhr){},
      complete: function(xhr, status){},
      error: function(xhr, status, error){}
    });//jQuery.ajax
  }

= render :partial => 'app/links'
= render :partial => 'app/forms'

.result#result{ :style => 'border: 1px solid red; margin-top: 40px;' }
  Result:
